body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
  color: white;
}


#logoutButton {
  float:right;

}

#registerButton {
  margin-top: 15px;
}

#loginButton {
  margin-top: 15px;
}

button {
   background-color: black;
   border: none;
   color: white;
   padding: 8px 16px;
   text-align: center;
   font-size: 12px;
   margin: 4px 2px;
   transition: 0.3s;
   border-radius: 20px;
   border: 2px solid darkred;
}
button:hover {
  background-color: white;
  color: black;
}

input {
  border-radius: 8px;
  margin-left: 5px;
 margin-top: 10px;
 background-color: black;
 border-color: black;
 color: white;
}

#registrationWrapper {
  background: rgb(78,0,0);
  background: linear-gradient(0deg, rgba(78,0,0,1) 26%, rgba(208,56,56,1) 100%);
  text-align: center;
  border-radius: 20px;
  border: 1px solid white;
  width: 20%;
  display: inline-block
}

#loginWrapper {
  background: rgb(78,0,0);
  background: linear-gradient(0deg, rgba(78,0,0,1) 26%, rgba(208,56,56,1) 100%);
  text-align: center;
  border-radius: 20px;
  border: 1px solid white;
  width: 20%;
  display: inline-block;
  margin-top: 1%;
}

#legendsWrapper {
  text-align: center;
}

#dashboardWrapper {
  width: 100%;
  height: auto;

}

#mainWrapper {
  width: 100%;
  height: auto;
  text-align: center;
}

h4 {
  float: right;
}

#legendsText {
  padding-left: 9%;
}

#welcomeText {
  padding-left: 6%;
}

#loginStatus {
  padding-left: 5%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: darkred;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#socials {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:white;
}

#social1 {
  padding: 5px;
}

#social2 {
  margin: 5px;
}

#social3 {
  margin: 5px;
}

#social4 {
  margin: 5px;
}

#social5 {
  margin: 5px;
}

#youtube {
  display: inline-block;

}

#colorPicker {
  width: 12px;
  height: 12px;
}
